@tailwind base;
@tailwind components;
@tailwind utilities;

/* SMOOTH SCROLL GLOBAL */

@layer base {
  body {
    font-family: "Poppins", "Segoe UI Emoji", "Apple Color Emoji",
      "Noto Color Emoji", sans-serif;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-16px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out forwards;
}

.animate-slideIn {
  animation: slideIn 0.35s ease-out forwards;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out both;
}

.animate-fade-right {
  animation: fade-right 1s ease-out both;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-600 {
  animation-delay: 0.6s;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
